@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	background-color: #fff;
	font-size:12px;
	color:#000000;
}


div, h1, h2, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
}
.maina{ font-size:14px; color:#CF0303; font-weight:bold;}
.mainb{ font-size:12px; color:#FF2018; font-weight:bold;}


  
/*--PageList--*/
#PageList{width:100%;}
#PageList ul{margin:0px;padding:0px;}
#PageList UL LI {
	FONT-SIZE: 14px; COLOR: #2d2d2d; LINE-HEIGHT: 26px; BORDER-BOTTOM: #d9d9d9 1px dotted; LIST-STYLE-TYPE: none;
}
#PageList UL LI A {
	COLOR: #2d2d2d
}
#PageList UL LI .NewsTitle {
	padding-left:25px;DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 425px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; background-image:url(../images/right_icon.gif); background-position:left; background-repeat:no-repeat;
}
#PageList UL LI .NewsDate {
	FLOAT: right;COLOR: #2d2d2d;
}

#gd ul{list-style:none;}
#gd li{float:left; padding-right:10px;} 

/*------------------------------------------------body---------------------*/
.body{ width:1000px;	padding:0;margin:auto;}

.l1{ width:100%; height:30px; background-image:url(../images/l1_bg.gif); background-repeat:repeat-x; border:1px solid #D2D2D2; margin-top:7px; margin-bottom:7px;}
.l1 td{padding-left:15px; padding-right:15px;}
.l1 input{height:18px; border:1px solid #B5B5B5; font-size:12px;}
.logo{ background-image:url(../images/logo.jpg); background-repeat:no-repeat; height:83px; margin-bottom:5px;}
.menu{ background-image:url(../images/menu_bg3.gif); height:82px; background-repeat:repeat-x; border-bottom:1px solid #D1D1D1; border-left:1px solid #D1D1D1;border-right:1px solid #D1D1D1;}
.menu span{ color:#EA0000; font-weight:bold;}
.zd{ background-image:url(../images/menu_bg1.gif); background-repeat:repeat-x; height:27px;}
.sc{ background-image:url(../images/sc_bg.gif); background-repeat:repeat-x; height:32px; border:1px solid #CFCFCF; margin-bottom:8px; margin-top:8px;}
.scbg{ background-image:url(../images/sc_bg.gif); background-repeat:repeat-x; height:32px; }
.scbg input{height:18px; border:1px solid #B5B5B5; font-size:12px;}
.sc input{height:18px; border:1px solid #B5B5B5; font-size:12px;}
.flash{BACKGROUND: #ffffff;MARGIN: 0px auto; WIDTH: 280px; HEIGHT: 210px;}
.yw_news{border-bottom:1px solid #D6DBE1; border-left:1px solid #D6DBE1;border-right:1px solid #D6DBE1; margin-bottom:6px;}
.yw_news_bg{ background-image:url(../images/news_topbg.gif); background-repeat:no-repeat; background-position:right top; padding-left:20px; padding-top:12px; border-bottom:1px dotted #FFA394; height:40px;}
.yw_news_bg h1{font-size:20px; color:#E70000; font-family:"";}
.yw_news_list{ margin:0px; padding:0px;}
.yw_news_list ul{ margin:0px; padding:0px;list-style-type: none;}
.yw_news_list li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:17px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:7px;width:290px;}
#Tab1{
width:100%;
margin:0px;
padding:0px;
margin:0 auto;}

#Tab1 .Menubox {
width:645px;
background:url(../images/kecheng_bg.gif); background-repeat: repeat-x;border-top:1px solid #D6DBE1; border-left:1px solid #D6DBE1;border-right:1px solid #D6DBE1;
height:25px;
padding-top:4px;
}
#Tab1 .Menubox ul{
margin:0px;
padding:0px;
}
#Tab1 .Menubox li{
float:left;
display:block;
cursor:pointer;
width:87px;
text-align:center;
color:#000000;
font-size:14px;
height:18px;
background:url(../images/news_tab.gif);
margin-right:5px;
padding-top:7px;
}
#Tab1 .Menubox li.tab{background:url(../images/kecheng_tit1.gif); background-position:left top; width:98px; height:18px;}
#Tab1 .Menubox li.hover{
padding:0px;
width:87px;;
background:url(../images/news_tab.gif);
color:#E20000;
height:18px;
margin-right:5px;
padding-top:7px;
}
#Tab3{
width:100%;
margin:0px;
padding:0px;
margin:0 auto;
overflow:hidden;}

.tit_dqwz{
background:url(../images/new1_bg.gif); background-repeat: repeat-x;height:23px; padding-left:12px; font-size:13px; padding-top:4px;
}

.Menubox {
width:100%;
background:url(../images/new1_bg.gif); background-repeat: repeat-x;
height:27px;
padding-top:2px;
}

.jxfw_mainbox{width:100%;
background:url(../images/jxfw_bg.gif); background-repeat: repeat-x;border:1px solid #D6DBE1;
height:30px;}
.jxfw_tit{ font-size:14px; color:#000; font-weight:bold;}
.jxfw_zj{ border-bottom:1px dotted #B6B6B6; margin-bottom:3px;}

.Menubox ul{
margin:0px;
padding:0px;
margin-right:5px;
}
.Menubox li{
float:left;
display:block;
cursor:pointer;
text-align:center;
color:#000000;
height:18px;
margin-right:5px;
padding-top:7px;
}
.Menubox li.tab{background:url(../images/kecheng_tit1.gif); background-position:left top; width:98px; height:18px;}
.Menubox li.hover{
padding:0px;
color:#E20000;
height:18px;
margin-right:5px;
padding-top:7px;
}

.Contentbox{
clear:both;
margin-top:0px;
border:1px solid #fad38e;
text-align:left;
overflow:hidden;
}
.two_title_1{ width:160px; height:35px; background-image:url(../images/tit_left.gif);  font-family:"Microsoft Yahei"; font-weight:bold; font-size:18px; color:#fff; padding:0 0 0 25px;}
.list_title_r{ border:1px solid #D0D0D0;background-image:url(../images/tit_r.gif); background-repeat:repeat-x; font-size:15px; color:#363636; }
.list_title_r span{color:#6d4502;font-weight:bold; font-family:microsoft yahei;}
.list_title_r span a:link{text-decoration:none;}
.list_title_r span a:hover{text-decoration:none;}
.news_title{ background-image:url(../images/news1_tit.gif); background-repeat:no-repeat;width:112px; height:25px; color:#fff; font-size:14px; font-weight:bold; text-align:center; padding-top:5px;}
.news_title1{ background-image:url(../images/news3_tit.gif); background-repeat:no-repeat;width:104px; height:29px; color:#fff; font-size:14px; font-weight:bold; text-align:center; padding-top:1px;}
.news_title2{ background-image:url(../images/news1_tit1.gif); background-repeat:no-repeat;width:150px; height:25px; color:#fff; font-size:14px; font-weight:bold; text-align:center; padding-top:3px;}

.news{border:1px solid #fad38e;}
.news_list{ margin:0px; padding:0px;}
.news_list ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:21px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:2px;width:350px;}
.news_list li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 380px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news_list li .NewsDate {
	FLOAT: right;COLOR: #2d2d2d; font-size:12px;
}

.news_list_yjdt{ margin:0px; padding:0px; margin-top:7px;}
.news_list_yjdt ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list_yjdt li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:21px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:3px;}
.news_list_yjdt li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 220px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news_list_yjdt li .NewsDate {
	FLOAT: right;COLOR: #2d2d2d; font-size:12px;
}

.news_list_gcrj{ margin:0px; padding:0px; margin-top:7px;}
.news_list_gcrj ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list_gcrj li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:24px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:8px; font-size:14px;}
.news_list_gcrj li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 140px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news_list_gcrj li .NewsDate {
	FLOAT: right;COLOR: #2d2d2d; font-size:12px; padding-right:9px;
}

.news_list_zcrd{ margin:0px; padding:0px; margin-top:7px;}
.news_list_zcrd ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list_zcrd li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:21px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:3px; font-size:12px;}
.news_list_zcrd li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 380px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news_list_zcrd li .NewsDate {
	FLOAT: right;COLOR: #2d2d2d; font-size:12px; padding-right:5px;
}
.kechengtitle{ height:100px;}
.kechengtitle span{DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 99px; margin-left:6px;WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; margin-top:5px; height:26px;}
.kechengtitle img{ border:1px solid #fad38e; padding:1px; margin-top:4px;}



.news_list1{ margin:0px; padding:0px;}
.news_list1 ul{ margin:0px; padding:0px;list-style-type: none; margin-top:5px;}
.news_list1 li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:22px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:3px;}
.news_list1 li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 200px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news_list2{ margin:0px; padding:0px;}
.news_list2 ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list2 li{ float:left;background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:17px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:7px;width:200px;}
.news_list3{ margin:0px; padding:0px;}
.news_list3 ul{ margin:0px; padding:0px;list-style-type: none;}
.news_list3 li{ float:left; height:17px;padding-left:22px; padding-top:7px;width:200px;border-bottom:1px dotted #B7B7B7;}
.news2_list{ margin:0px; padding:0px; margin-bottom:10px;}
.news2_list ul{ margin:0px; padding:0px;list-style-type: none;}
.news2_list li{ background-image:url(../images/right_icon.gif); background-repeat:no-repeat; background-position:left;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:9px;margin-left:10px; font-size:14px; border-bottom:1px dotted #ACACAC; height:27px; padding-bottom:3px;padding-bottom:7px\0;}
.news2_list li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 360px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.news2_list li .NewsDate {
	DISPLAY: inline-block; FLOAT: left;COLOR: #2d2d2d; WIDTH: 120px; font-size:12px; 
}
.news2_list li .NewsType {
	DISPLAY: inline-block; FLOAT: left; margin-left:48px; COLOR: #2d2d2d;font-size:13px;
}
.news2_list li .NewsDel {
	 FLOAT: right; margin-left:10px; text-decoration: none;
}
.right_con{ font-size:14px; padding:3px; width:96%; margin:5px; line-height:22px;}
.mainred20{ font-size:20px; font-family:""; color:#ff0000; border-bottom:1px dotted #D40811; height:45px; font-weight:bold;}
.main12h{ color:#767676; font-size:12px;}

.list{
text-align: left;
}
.list ul{
list-style-type: none;
margin: 0px;
padding: 0px;
}
.list li{
width: 90%;height:17px;
}
.list li span{
float: left;
text-align: left;
}

.more{float:right; padding-right:30px; margin:5px;}
.right_tit{ font-size:14px; color:#b64c02; font-weight:bold; background-image:url(../images/news2_tit.gif); background-repeat:no-repeat; width:94px; height:29px; padding-left:5px; padding-top:1px;}
.list_left_tit{ font-size:14px; color:#b64c02; font-weight:bold; background-image:url(../images/news2_tit.gif); background-repeat:no-repeat; height:29px; padding-left:25px; padding-top:1px;}

.news1{ border:1px solid #fad38e;}
.line{ border:1px solid #fad38e;}
.bottom{ line-height:22px; color:#2C2C2C;}
.download{ color:#444444; line-height:20px;}
.download_tit{DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 230px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.dl_line{ border-bottom:1px solid #E5E5E5;}
.rd_line{ border-bottom:1px dotted #C2C2C2; font-size:17px; font-weight:bold; padding-left:25px;}
.rd_line span{color:#FA1616;}
.jcdj_hsgw div{ height:18px;white-space:nowrap;width:450px; color:#000;text-overflow:ellipsis; overflow: hidden; margin-left:5px; margin-top:2px; font-size:12px; }
.jcdj_hsgw_NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 450px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; line-height:17px;}
.jcdj_hsgw2{ font-size:12px; color:#d30b28;}



#Tab4{
width:100%;
margin:0px;
padding:0px;
margin:0 auto;}

#Tab4 .Menubox {
width:300;
height:22px;
}
#Tab4 .Menubox ul{
margin:0px;
padding:0px;
}
#Tab4 .Menubox li{
float:left;
display:block;
cursor:pointer;
width:70px;
text-align:center;
color:#000000;
font-size:13px;
height:15px;
background:url(../images/jxfw_tab1.gif);
margin-right:5px;
}
#Tab4 .Menubox li.tab{background:url(../images/jxfw_tab1.gif); background-position:left top; width:70px; height:15px;}
#Tab4 .Menubox li.hover{
padding:0px;
width:70px;;
background:url(../images/jxfw_tab1.gif);
color:#E20000;
height:15px;
margin-right:5px;
padding-top:7px;
}
.Contentbox_jxfw{
clear:both;
margin-top:0px;
border:1px solid #D6DBE1;
padding-left:5px;
text-align:left;
overflow:hidden;
}
.bmfw_jkyz{
background-color:#FFF0F1;color:#BC0000; font-size:14px; font-weight:bold; padding-left:3px;
}

img{ border:none;}
.gd_img{
	width:100%;
	text-align:left;
	position: relative;
	line-height:120%;
	background-color:#fff;
}
.gd_img a{
color:#000;text-decoration: none;}
.gd_img a:hover{
color:#FF0000;
}
.gd_img td.a.img{
} 

.gd_img .caseb{position:absolute;
margin-top:-9px;}
.gd_img #tupian td{
padding-right:12px;
width:100px;
height:115px;
}

.imgbox{ width:100%;position:relative;}
.imgBox li {position:relative;list-style-type:none;border:1px solid #ccc;padding:3px;float:left}
.toolbar {position:absolute;bottom:10px; right:7px;}

.zt_line{ border-left:1px solid #D6D6D6; border-bottom:1px solid #D6D6D6; border-right:1px solid #D6D6D6; padding-left:10px; padding-right:10px; margin-bottom:10px;}
.zt_tit{font-size:14px; font-weight:bold; color:#343234;}
.zt_news{ margin:0px; padding:0px;}
.zt_news ul{ margin:0px; padding:0px;list-style-type: none;}
.zt_news li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:17px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:4px;}
.zt_news li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 520px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.right_zttit{ font-size:14px; color:#000; font-weight:bold; background-image:url(../images/news2_tit.gif); background-repeat:no-repeat;  height:29px; padding-left:5px; padding-top:1px;}

.jcdj_news{ margin:0px; padding:0px;}
.jcdj_news ul{ margin:0px; padding:0px;list-style-type: none;}
.jcdj_news li{background-image:url(../images/news_icon.gif); background-repeat:no-repeat; background-position:left;height:21px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:1px;width:290px;}
.jcdj_news li .NewsTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 290px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.yjdt_news li{ height:24px;padding-top:0px;}
.yugao_title{ font-size:16px; font-weight:bold; height:65px; line-height:24px;font-family:microsoft yahei;}
.yugao_table{ border-left:1px #fad38e solid; border-top:1px #fad38e solid;}
.yugao_table th{ border-bottom:1px #fad38e solid; border-right:1px #fad38e solid; background:#fcf5ed; color:#a40000; font-weight:bold; font-size:14px;}
.yugao_table tr td{ border-bottom:1px #fad38e solid; border-right:1px #fad38e solid;color:#a40000; padding:10px; height:34px; font-size:13px;}
.fieldset {border: 0px currentColor;}
.div_question {
	border-width: 2px 2px 1px; border-style: solid; border-color: white white rgb(239, 239, 239); margin: 2px auto; padding: 4px 0px 5px; width: 100%; height: auto; clear: both;
}
.div_question_mouseover {
	padding: 4px; border: 2px solid rgb(253, 181, 83); cursor: pointer;
}
.div_question_mouseout {
	cursor: pointer;
}
.div_question_onclick {
	padding: 4px; border: 2px solid rgb(102, 202, 255);
}
.div_question_error {
	padding: 4px; border: 2px solid red;
}
.div_title_question_all {
	height: auto; color: rgb(51, 51, 51); line-height: 20px; padding-top: 2px; font-size: 13px; font-weight: bold;
}
.div_title_question {
	overflow: hidden; zoom: 1;
}
.div_table_clear_top {
	clear: both; margin-top: 4px;
}
.div_table_radio_question {
	color: rgb(51, 51, 51); padding-top: 5px; padding-bottom: 2px; padding-left: 20px; clear: both; font-size: 12px;
}
.div_table_radio_question ul {
	
}
.div_table_radio_question li {
	float: left; list-style-type: none;
}
.div_topic_question {
	width: 28px; font-weight: bold; float: left;
}
/*************************************************NETWORK PAGE***/
#network{  overflow: hidden; }
#guestbar {width: 674px;}
#guestbar .nbox_c { height: 210px; padding: 0; width: 674px; border: none; background: url(../images/guest_bg.jpg) no-repeat 0 0; }
#guest_intro { position: absolute; left: 35px; top: 45px; width: 380px; height: 97px; background: url(../images/guest_corner.gif) no-repeat 0 100% ;filter:alpha(opacity=50); line-height:20px; }
#regbutton { position: absolute; left: 285px; top: 50px; display: block; width: 122px; height: 43px; background: url(../images/reg_button.gif) no-repeat 0 0; text-indent: -9999px; overflow: hidden; }
#guest_app a { position: absolute; top: 145px; display: block; width: 48px; height: 48px; text-indent: -100px; overflow: hidden; text-decoration: none !important; }
#guest_app a.appdoing { left: 16px; }
#guest_app a.appphotos { left: 74px; }
#guest_app a.appgames { left: 135px; }
#guest_app a.appgroups { left: 194px; }
#nlogin_box form { padding: 10px; height: 166px; he\ight: 146px; }
#nlogin_box p { padding: 6px 0; }
#nlogin_box p.checkrow, .nlogin_box p.submitrow { padding: 3px 0 3px 3.5em; }
#nlogin_box p.submitrow { padding: 10px 0 5px 3.5em; line-height: 26px; }
#nlogin_box #loginsubmit { float: left; margin-right: 10px; width: 61px; height: 26px; background: url(../images/button_n.gif) no-repeat 0 0; line-height: 26px; color: #222; }
#nlogin_box .t_input { width: 150px; }
.nbox{ margin: 0 0 0px; position: relative; width: 970px; overflow: hidden; }
.nbox .gray, .nbox .gray a { color: #aaa; }
.ntitle{ padding: 0 10px; height: 32px; line-height: 32px; color: #333; font-size: 12px; }
.footerbar .ntitle { margin: 0; height: 25px; line-height: 25px; font-size: 12px; }
.ntitle a{ font-weight: normal; font-size: 12px; }
.ntl{ float: left; padding: 0 0 0 30px; background: transparent url(../images/nlr.gif) no-repeat left top; }
.ntr{ float: right;  padding: 0 30px 0 0;  background: transparent url(../images/nlr.gif) no-repeat right center;}
.nbox_c{ float: left; margin: 0 10px 0 0; padding: 1px; width:730px; w\idth: 726px; border: 1px solid #DDD; overflow: hidden; }
.nbox_l{ float: left; margin: 0 20px 0 0; width:360px; }
.nbox_l .showpic{ margin: 0 0 10px; width: 360px; height:220px; overflow: hidden; }
.nbox_l .showpic img { width: 360px; }
.nbox_r{ float: left; width:350px; }
.nbox_c .ntitle{ padding: 0 10px; background: #EEE;}
.nbox_s{ float: left; width:230px; }
.side_rbox { background: url(../images/side_rbox_gray.gif) repeat-y -230px 0; }
.side_rbox .ntitle { height: 34px; background: url(../images/side_rbox_gray.gif) no-repeat 0 0; line-height: 34px; }
.side_rbox_c { background: url(../images/side_rbox_gray.gif) no-repeat -460px 100%; }
.side_rbox_w { background-position: -920px; }
.side_rbox_w .side_rbox_c { background-position: -1380px 100%;}

/*ccsq*/
.ccsq_news{ margin:0px; padding:0px;width:210px; height:210px;height:190px\0;}
.ccsq_news ul{ margin:0px; padding:0px;list-style-type: none;}
.ccsq_news li{background-image:url(../images/sq_icon.gif); background-repeat:no-repeat; background-position:left;height:21px;white-space:nowrap;text-overflow:ellipsis; overflow: hidden;padding-left:22px; padding-top:1px;width:210px;}
.ccsq_news li .NewsTitle {DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: 210px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis;}
.ccsq_img td{width:200px; text-align:left;}