<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns:aop="http://www.springframework.org/schema/aop" 
         xmlns:tx="http://www.springframework.org/schema/tx" 
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"> 
    <!-- 用户问卷action -->
    <bean id="questionNaireAction" class="com.sino.elearning.questionnaire.action.EQuestionNaireAction" scope="prototype">
    	<property name="questionNaireService" ref="questionNaireService"></property>
    </bean>
    <bean id="questionNaireAjaxAction" class="com.sino.elearning.questionnaire.action.EQuestionNaireAjaxAction" scope="prototype">
    	<property name="questionNaireService" ref="questionNaireService"></property>
    </bean>
    
    <!-- 用户问卷service -->
    <bean id="questionNaireService" class="com.sino.elearning.questionnaire.service.impl.EQuestionNaireServiceImpl">
    	<property name="questionNaireDao" ref="questionNaireDao"></property>
    </bean>
    
    <!-- 用户问卷dao -->
    <bean id="questionNaireDao" class="com.sino.elearning.questionnaire.dao.impl.EQuestionNaireDaoImpl" parent="daoBase"></bean>
	
</beans>