<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns:aop="http://www.springframework.org/schema/aop" 
         xmlns:tx="http://www.springframework.org/schema/tx" 
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"> 
    <!-- 用户存储action -->
    <bean id="userStoreAction" class="com.sino.elearning.userstore.action.EUserStoreAction" scope="prototype">
  		<property name="userStoreService" ref="userStoreService"></property>
    </bean>
    
    <!-- 用户收藏AjaxAction -->
    <bean id="userStoreAjaxAction" class="com.sino.elearning.userstore.action.EUserStoreAjaxAction" scope="prototype">
    	<property name="userStoreService" ref="userStoreService"></property>
    </bean>
   
   <!-- 用户专题service --> 
   <bean id="userStoreService" class="com.sino.elearning.userstore.service.impl.EUserStoreServiceImpl">
   		<property name="userStoreDao" ref="userStoreDao"></property>
   </bean>
   
   <!-- 用户收藏dao -->
   <bean id="userStoreDao" class="com.sino.elearning.userstore.dao.impl.EUserStoreDaoImpl" parent="daoBase"></bean>
</beans>